name: Build and Test
on:
  push:
    paths:
    - '*/**'
  pull_request:
    paths:
    - '*/**'
    

jobs:
  test-wasm4s:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    # setup java to use sbt
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 11
    - uses: sbt/setup-sbt@v1.1.5
    #test wasm4s
    - uses: coursier/cache-action@v5
    - name: run-tests
      id: run-tests
      run: |
        sh ./update-extism.sh
        sbt '+compile;+test'
